keybinds {
    normal { }

    shared_except "tmux" {
	bind "Ctrl m" { SwitchToMode "Tmux"; }
        unbind "Ctrl b"
    }

    shared_except "locked" {
      bind "Ctrl l" { SwitchToMode "Locked"; }
      bind "Ctrl y" {
	  LaunchOrFocusPlugin "file:~/.config/zellij/plugins/room.wasm" {
	      floating true
	      ignore_case true
	      quick_jump true
	  }
      }
    }

    tmux clear-defaults=true {
        bind "Ctrl m" { Write 2; SwitchToMode "Normal"; }
        bind "Esc" { SwitchToMode "Normal"; }
        bind "l" { SwitchToMode "Locked"; }
        bind "p" { SwitchToMode "Pane"; }
        bind "t" { SwitchToMode "Tab"; }
        bind "r" { SwitchToMode "Resize"; }
        bind "m" { SwitchToMode "Move"; }
        bind "s" { SwitchToMode "Scroll"; }
        bind "o" { SwitchToMode "Session"; }
        bind "q" { Quit; }
    }
}

// Plugin aliases - can be used to change the implementation of Zellij
// changing these requires a restart to take effect
plugins {
    tab-bar location="zellij:tab-bar"
    status-bar location="zellij:status-bar"
    strider location="zellij:strider"
    compact-bar location="zellij:compact-bar"
    session-manager location="zellij:session-manager"
    welcome-screen location="zellij:session-manager" {
        welcome_screen true
    }
    filepicker location="zellij:strider" {
        cwd "/"
    }
    configuration location="zellij:configuration"
    plugin-manager location="zellij:plugin-manager"
}

pane_frames false
theme "catppuccin-macchiato"
default_layout "compact"
default_mode "locked"
scroll_buffer_size 1000000
copy_command "xclip -selection clipboard"
scrollback_editor "/usr/local/bin/nvim"
show_startup_tips false

